<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('blocks/header') -%>
    <main>
        <h1>Главная страница</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis architecto optio quisquam expedita facilis culpa, quo qui repellendus rerum nobis officiis aliquam ex ratione dolorum ab voluptas velit laudantium quae.</p>
    </main>
</body>
</html>